body {
display: flex;
justify-content: center;
background-color: #596D48;

}

.container1 {
    
    display: flex;
    height: 100vh;
   margin: auto;
   width: 1350px;
    

}

.container2{
    position: relative;
    display: flex;
    height: 100vh;

    max-width: 480px;
  
}

.background {
   
    max-width: 480px;
    object-fit: cover;
    object-position: 40% 50%;
}


.bglogo {
    
 display: flex;
  position: absolute;
  width: 480px;
  height: 130px;
  background-color: rgb(42, 44, 43);
  top: 170px;
  opacity: 0.6;
  

}

.logo {
  
    position: absolute;
    width: 120px;
    height: 120px;
    top: 175px;
    left: 80px;
}


.logotext {
    font-family: blackbird;
    font-weight: bolder;
    position: absolute;
    top: 215px;
    left: 200px;
    color: white;
    font-size: 40px;
}

.container3 {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 870px;
    height: 100vh;
    background-color:rgb(243, 243, 243)
   
}

.rigtpaneltop {
    display: flex;
    position: relative;
    height:300px;
    width:870px;
    
}

.rigthplanelmid{
  
    display: flex;
    flex-direction: column;
    height: 280px;
    width: 870px;
    background-color: white;
    box-shadow:  0 0 12px rgb(53, 52, 52);
    
  


}
.rigthplanelbot{
    display: flex;
    flex-direction: column;
    height: 280px;
    width: 870px;
    
}

.rightpaneltoptext {
      position: absolute;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight:600;
    height: 150px;
    width: 620px;
    top: 150px;
    left: 50px;
    font-size: 20px;
    
   
}

.rightpanelmidtext{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight:600;
    font-size: 20px;
    margin-top: 20px;
    margin-left: 55px; 
    height: 20px;
    
}

.firstform {
    display: flex;
    width: 290px;
    height: 190px;
    margin-top: 15px;

}

ul {
    list-style: none;
    margin-bottom: 0;
  
}

li:nth-child(1),li:nth-child(2) {
    margin-bottom: 20px;
}

label,input {
    display: flex;
    margin-left: 15px;
   
}

input{
    padding-right: 35px;
    padding-bottom: 5px;
    border-radius: 3px;
    border-color: rgb(228, 230, 230);
    border-width: 1px;
 
 }
 

 .formscontainer{
     display: flex;
     height: 195px;
 }
 .secondform{ 
     display: flex;
     width: 290px;
     height: 190px;
     margin-top: 15px;
     
 }

 input::-webkit-inner-spin-button,
 input::-webkit-outer-spin-button{
     -webkit-appearance: none;
     margin: 0;
 }

 input:hover {
     background-color: rgb(235, 231, 231);
 }
 input:focus {
    border-color: rgb(83, 83, 235);
    outline: none;
    border-width: 1.5px;
   box-shadow:  0 0 3px rgb(53, 52, 52);
   background-color: white;
}

.wrongpass {
    display: none;
    padding-left: 55px;
    font-size: 15px;
    color: rgb(255, 2, 2);
    


}
#rightpass {
    display: none;
    padding-left: 55px;
    font-size: 15px;
    color: green;
    


}

.createaccount {
    background-color: #596D48;
    color: white;
    padding-right: 50px;
    padding-left: 50px;
    padding-top: 15px;
    padding-bottom: 15px;
    border-radius: 10px;
    font-size: 20px;
    font-weight: bolder;
    margin-left: 50px;
    margin-top: 35px;
}

.belowbuttontext {
  display: flex;
    margin-left: 50px;
    margin-top: 20px;
    font-size: 20px;
    font-style:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; 
}

#login {
    color: #596D48;;
    font-weight: bolder;
}

@font-face {
    font-family: blackbird;
    src:url(Karasha-z8mYw.otf)
}

label {
    font-family: 'Courier New', Courier, monospace;
    font-size: 20px;
    font-size: 15px;
    color: rgb(34, 34, 34);
    
}
